body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Latar belakang halaman utama */
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

header {
    text-align: center;
    background-color: #FF3D00; /* Warna merah untuk header */
    color: white;
    padding: 20px 0;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: white; /* Warna putih untuk setiap section */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #555;
}

/* Gaya untuk menyembunyikan section makanan */
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Gaya untuk menampilkan section makanan */
#hobi + .hidden {
    opacity: 1;
    transform: translateY(0);
  }
